* {
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
  }
  button {
    border: 0;
    background: transparent;
    outline: 0;
    display: block;
  }
  a {
    text-decoration: none;
  }
  :root {
     /*Fonts*/
     --main-fonts: 'Montserrat', sans-serif;
    /*Colors*/
    --color-black:#2F281E;
    --color-orange:#FF9900;
    --color-white:#fff;
    --color-border:#BCD;
    --color-simple:#544837;

    /*Fonts font-weight:600 font size:16px line-height:20px */
    --btn-fonts: 600 16px/20px var(--main-fonts);
    --hero-text-fonts: 400 18px/28px var(--main-fonts);
    --text-fonts: 500 16px/26px var(--main-fonts);
    --link-fonts: 400 15px/20px var(--main-fonts);
    --title-fonts: 700 44px/54px var(--main-fonts);
    --productly-fonts: 700 36px/44px var(--main-fonts);
    --h3-fonts: 600 22px/44px var(--main-fonts);
    --simle-text-fonts: 500 16px/26px var(--main-fonts);
   /*spacing*/
    --r-4:4px;
    --header-top: 80px;

    

}
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }

  body {
        color:var(--color-black);
        font:var(--text-fonts);
  }

  .wrapper {
    overflow: hidden;
  }

/*header start */

.header {
    padding: 17px 0;
    background-color: var(--color-white);
    box-shadow: -4px 6px 17px -8px var(--color-black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}

.header__row {
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}

.logo {
    width: 200px;
}
.title {
font:var(--title-fonts);
}

.h2 {
font: var(--productly-fonts);
}
.h3 {
font: var(--h3-fonts);
}
.simple-text {
    font: var(--simle-text-fonts); 
    color:var(--color-simple)
}

.link {
    font:var(--link-fonts);
    color:var(--color-black);
}
.link:hover {
    color: var(--color-orange);
}

.btn {
    font:var(--btn-fonts);
    color:var(--color-white);
    background-color: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 12px 22px;
    border-radius: var(--r-4);
    border: 1px solid transparent;
    cursor: pointer;
}
.btn:hover {
    color:var(--color-black);
    background-color: transparent;
    border: 1px solid var(--color-border);
}
.button--line {
    color: var(--color-black);
    background-color: transparent;
    border: 1px solid var(--color-border);
}
.button--line:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
    border: 1px solid var(--color-border);
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

.inp {
    display:block;
    border: 1px solid var(--color-border);
    padding:10px;
    height: 50px;
    border-radius: 4px;
}

/*Модалка */
.modal {
position: fixed;
top:50%;
left:50%;
transform: translate(-50%, -50%);
background-color: #060503b8;
width: 100vw;
height: 100vh;
z-index: 9991;
visibility: hidden;
}
.visible {
    visibility: visible;
}
.visible .form-login{
    opacity: 1;
}

.form-login {
    background-color:var(--color-white);
    width: 100%;
    max-width: 370px;
   position: relative;
   top: 50%;
   left: 50%;
   transform:translate(-50%,-50%);
    padding: 30px;
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

}

.form-login__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background-color: var(--color-orange);
    color: var(--color-white);
}
/*Модалка END */

.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;  
}

/*hero start*/
.hero {
    padding: var(--header-top) 0 0;
}
.hero__title {
    margin-bottom: 30px;
    max-width: 500px;
}
.hero__text {
    margin-bottom: 20px;
    max-width: 500px;
    font:var(--hero-text-fonts);
}

.hero__image {
    max-width: 644px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 53%;

}

.hero__container {
    position: relative;
    padding: 167px 10px 196px;
}

/*Productly start */
.productly {
    padding: 100px 0 50px;
    background-image: url(./image/bg.png);
    background-size: cover;
    background-position: center;
}
.productly__title
{
    text-align: center;
    max-width: 540px;
    margin: 0 auto 50px;
    
    
}
.productly__icon {
width: 50px;
margin: 0 0;
}

.productly__item-title {
    margin: 0 0 16px;
}
.productly_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 70px;
}
.productly__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Productly end */

/* TAB varsion */
@media (max-width:992px) {
    .container {
        padding: 0 30px;
    }
    .header__btn-container {
        display: none;
    }
    .header__nav-container {
        display: none;
    }
    .hero__image {   
        max-width: 414px;
        transform: translateY(-51%);
        z-index: -1;
       }
   .hero__container {
    padding: 67px 10px 56px;
   }   
   .productly_row {
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 20px;
   } 
   :root {
    --title-fonts: 700 34px/34px var(--main-fonts);
    --hero-text-fonts: 400 16px/26px var(--main-fonts);
   }
}
@media (max-width:892px) {
    .hero__image {   
        max-width: 270px;
        transform: translateY(-51%);
        z-index: -1;
       }
}
/* mobile */
@media (max-width:762px) {
    .hero__image {   
        position: static;
        transform: none;
        max-width: 100%;
       }
    .hero__title {
        text-align: center;
    }
    .hero__text {
        text-align: center;
    }
    .btn {
        margin: 0 auto;
    }
}

