* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}
button {
  border: 0;
  background: transparent;
  outline: 0;
  display: block;
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}
body {
  background-color: var(--color-background)
}

h2 {
  color: var(--color-h2);
  font: var(--h2-fonts);
}

h3 {
  font: var(--h3-fonts);
  color: var(--h2-fonts);
}

p {
  font: var(--p-fonts);
  color: var(--color-grey);
}

/* Змінні  */
:root {
  --main-fonts:'inter', sans-serif;
  --h-fonts: 'Playfair Display', sans-serif;


/*Colors*/
--color-black:#202336;
--color-orange:#FB8F1D;
--color-nav-gray: #B8BECD;
--color-grey:#7D7987;
--color-footer:#F9F9FB;
--color-textfooter:#848484;
--color-background:#FFFFFF;
--color-h2:#000000;
--color-star:#FFBB0C;
--color-footline:#C4C4C4;



/* Fonts */
--link-fonts: 400 16px/19px var(--main-fonts);
--linkhover-fonts: 500 16px/19px var(--main-fonts);
--btn-fonts: 500 15px/60px var(--main-fonts);
--h1-fonts: 700 64px/80px var(--h-fonts);
--h4-fonts: 600 22px/27px var(--main-fonts);
--h2-fonts:700 36px/50px var(--h-fonts);
--p-fonts: 300 17px/30px var(--main-fonts);
--sel-fonts: 400 15px/32px var(--main-fonts);
--art-fonts: 400 24px/36px var(--main-fonts);
--h3-fonts: 700 22px/48px var(--main-fonts);
--p-slaid-fonts: 400 18px/48px var(--main-fonts);
--but-view-fonts: 600 17px/60px var(--main-fonts);
--trend-p-fonts: 400 15px/26px var(--main-fonts);
--trend-h3-fonts: 700 19px/30px var(--main-fonts);
--trend-link-fonts: 600 15px/28px var(--main-fonts);
--foot-p-fonts: 300 18px/28px var(--main-fonts);
--foot-mainli-fonts: 700 19px/60px var(--main-fonts);
--foot-li-fonts: 300 18px/38px var(--main-fonts);


}

/* Кінець змінних  */

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

.logo {
  width: 41px;
}

.link {
color:var(--color-nav-gray);
font: var(--link-fonts);
}
.link:hover {
  color: var(--color-black);

}
.btn {
font:var(--btn-fonts) ;
color:white;
display:flex;
justify-content: center;
align-items: center; 
height: 44px;
width: 144px;
background-color: var(--color-orange);
border-radius: 8px;
}

.btn:hover{
  background-color:var(--color-background);
border: 2px solid var(--color-orange);
color: var(--color-orange);
}

.box {
  max-width: 648px;
}

.inp {
  display:block;
  border: 1px solid var(--color-border);
  padding:10px;
  height: 40px;
  border-radius: 4px;
}


/*header */
.header {
  box-shadow: -4px 6px 17px -8px var(--color-black);
  position: fixed;
  max-height: 80px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-background) ;
  z-index: 100;
}
.header__container {
  margin: 0px 190px 125px 190px;
  position: relative;
}

.header-row {
display:flex;
justify-content:end;
align-items:center;
gap: 20px;
padding-bottom: 20px;
padding-top:20px;
}

.header__nav-link {
  display:flex;
  gap:34px;
}
.header__btn {
  padding-left:14px;
  display:flex;
  gap:18px;
}

.button--line {
background-color:var(--color-background);
border: 2px solid var(--color-orange);
color: var(--color-orange);
}
.logo {
  width: 41px;
}
.header__logo {
position: absolute;  
left: 0;
}
/*heder end */

/*Модалка */
.modal {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 9991;
  visibility: hidden;
  }
  .visible {
      visibility: visible;
  }
  .visible .form-login{
      opacity: 1;
  }
  
  .form-login {
      background-color: var(--color-footline);
      width: 100%;
      max-width: 380px;
     position: relative;
     top: 50%;
     left: 50%;
     transform:translate(-50%,-50%);
      padding: 30px;
      border: 2px solid;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
  
  }
  
  .form-login__close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      background-color: var(--color-orange);
     
  }
  /*Модалка END */

/*hero start */
.title {
  font:var(--h1-fonts);
  max-width: 356px;
  padding-bottom: 74px;
  padding-top: 114px;
}
h4 {
  font: var(--h4-fonts);
  color:var(--color-black);
  padding-bottom: 21px;
}
.line {
  color:var(--color-black);
  width: 32px;
  height: 2px;
  background-color: var(--color-black);
}
.hero__container {
  position: relative;
  margin-left:189px;
  margin-top: 200px;
  
}
.hero__image {
  max-width: 687px;
  width: 58%;
  position: absolute;
  right: -40px;
  top: 70px;
  z-index: -1;
}

.hero__selections {
  padding-top: 48px;
  width: 600px;

  gap: 30px;
}

.selection {
  width: 220px;
  height: 52px;
  margin-bottom: 35px;
  margin-right: 30px;
  padding-left: 31px;
  border-radius: 6px;
  font:var(--sel-fonts);
}


/*hero end */

/*explore start */
.explore__title {
  width: 481px;
  padding-bottom: 20px;
}

.explore__text {
width:450px;
padding-bottom: 33px;
}

.explore__img {
  max-width: 659px ;
  width: 55%;
}

.explore__container {
  position: relative;
  margin-top: 429px;
  margin-right: 248px;
}
.explore__content {
  position: absolute;
  right: -120px;
  top: 80px;
}
/*explore end */

/*featured start*/
.featured__container {
  padding-top: 292px;
  margin-right: 240px;
  margin-left: 240px;
}
.featured__text {
  display: flex;
align-items: center;
justify-content: space-between;
}

.featured-btn {
  background-color: var(--color-background);
  color:var(--color-orange);
  justify-content: flex-end;
  font: var(--but-view-fonts);
}

.card-row {
  padding:56px 0 ;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap:25px;
}
  
.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 6px;
}

.card__img {
  width: 100%;
 
}

/*featured end*/

/*guides start*/

.guides__container {
  padding-top: 384px;
  margin-right: 240px;
  margin-left: 240px;
  position: relative;
  padding-bottom: 341px;
  
}
.guides__title {
 width: 400px;
 font: var(--h2-fonts);
 color: var(--color-h2);
 padding-bottom: 20px;
}

.guides__text {
font: var(--p-fonts);
color: gray;
width: 450px;
padding-bottom: 33px;
}

.guides__img {
  position: absolute;
  width: 599px;
  right: -100px;
  top: 275px;
  width: 50%;
  z-index: -1;
}
/*guides end*/


/*testimonials start*/
.testimonials__container {
  margin-right: 240px;
  margin-left: 240px;
  position: relative;
  margin-bottom: 370px;
}
.testimonials__title {
  font: var(--h2-fonts);
  color: var(--color-h2);
  padding-bottom: 199px;
}
.testimonials__text {
  font:var(--art-fonts);
  color: var(--color-h2);
  width: 500px;
  padding-bottom: 40px;
}
.star-row {
display: flex;
justify-content: start;
gap:15.88px;
padding-bottom: 30px;
}

.star {
  width: 25.12px;
  height: 23.9px;
}

.testimonials__image {
position: absolute;
right: 8px;
top: 190px;
width: 384px;
right: -45px;
top: 100px;
}

.testimonials__p {
  font: var(--p-slaid-fonts);
  color: var(--color-h2);
}
/*testimonials end*/

/*trending StaRT*/
.trending__container {
  margin-right: 240px;
  margin-left: 240px;
  max-width: 1200px;
  margin-bottom: 271px;
 }
 .trending__text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  
 }
 .trending-btn {
  background-color: var(--color-background);
  color:var(--color-orange);
  justify-content: flex-end;
  font: var(--but-view-fonts);
  }
  .trending-btn:hover {
    transform: scale(1.05);
  }

.trending__card-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
}

.cards__img-box {
  overflow: hidden;
  height: 233px;
  
}
.cards__image {
  width: 100%;
  min-height: 233px;
  
  border-radius: 6px; 
     }
    
.trending__title {
      font:var(--h2-fonts);
      color: var(--color-h2);
}

.cards-text__text {
  font: var(--trend-p-fonts); 
  color: var(--color-grey);
  padding-bottom: 23px;
  }
  .cards-text__title {
font: var(--trend-h3-fonts);
color: var(--color-h2);
padding-top:13px;
padding-bottom: 13px;
  }
 .cards-text__link {
  color: var(--color-orange);
  font: var(--trend-link-fonts);
 }
 .cards-text__link:hover {
  color: var(--color-grey);
 }



   /*trending end*/ 

/*Footer start */
.footer {
 background-color: var(--color-footer);
}
.footer__container {
  margin-left: 190px;
  margin-right: 190px;
  margin-bottom: 81px;
  display: grid;
  grid-template-columns: 28% 1fr 1fr 1fr;
  gap:98px;
}
.footer__box-text {
font: var(--foot-p-fonts);
color: var(--color-textfooter);
}
.t1 {
  max-width: 314px;
  padding-top: 26px;
  padding-bottom: 65px;
}
.footer__box {
  padding-top: 100px;
}

.footer__box__li {
  font: var(--foot-li-fonts);
  color:var(--color-textfooter);
  cursor: pointer;
}

.footer__box__li:hover {
color:var(--color-h2);
transform: scale(1.03);
}

.main-li {
font:var(--foot-mainli-fonts);
color: var(--color-h2);
}

.footer__line {
  margin:77px 190px 32px 190px ;
  border-top: 0.6px solid var(--color-footline);
}
.footer__icon-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.footer__icon-row{
padding-bottom: 33px;
}

.icon-row__item1 {
  width: 25px;
}
.icon-row__item2 {
  width: 10px;
}
.icon-row__item3 {
  width: 22px;
}
.icon-row__item4 {
  width: 23px;
}
.icon-row__item5 {
  width: 28px;
}
